config/appsettings.json
src/config/appsettings.json
src/Test.txt
test.txt
.env

bin/
obj/
*.exe
*.dll
*.pdb

.vs/
.vscode/
*.user
*.suo
.idea/

logs/
*.log
*.tmp

*.mdf
*.ldf
*.bak

packages/
.nuget/

.DS_Store
Thumbs.db 
